:root {
    --font-1: 'Dancing Script', cursive;
    --color-1: #f3ec78;
    --color-2: #af4261;
    --color-3: #f5f2f2;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
}
.services {
    width: 100%;
    background-image: linear-gradient(rgba(26, 26, 26, 0.3), rgba(75, 75, 75, 0.3));
    overflow: hidden;
}
.services video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}
.services .content {
    text-align: center;
}
.services .content h1 {
    transition: .5s;
}
.services .content h1:hover, .services .content h1.active {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.section_one, .section_two {
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}
.img_container {
    flex-basis: 50%;
}
.img_container img {
    max-height: 100%;
    max-width: 100%;
    transition: all .4s ease-in-out;
}
.content_container {
    flex-direction: column;
    gap: 2rem;
    flex-basis: 48%;
}
.section_two {
    gap: 2rem; 
}
.moving_slides {
    background-image: linear-gradient(25deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/s1.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: space-between;
}
.Moving_buttons {
    flex-direction: column;
    margin: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    flex-basis: 10%;
}
.Moving_buttons img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.8);
}
.moving_contents {
    border-radius: 4rem;
    flex-direction: column;
    flex-basis: 80%;
    gap: 2rem;
    justify-content: center;
}
.moving_contents p {
    color: white;
    font-weight: 600;
    width: 70%;
}
.section_four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(75, 75, 75, 0.3)), url('../images/services.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
@media (min-aspect-ration: 16/9) {
    .video {
        height: auto;
        width: 100%;
    }
}
@media (max-aspect-ration: 16/9) {
    .video {
        height: 100%;
        width: auto;
    }
}
@media screen  and (max-width: 1280px) {
    .services {
        width: auto;
    }
    .services video {
        width: auto;
    }
    .img_container, .content_container {
        flex-basis: 46%;
    }
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 767px) {
    .section_one, .section_two {
        justify-content: center;
    }
    .img_container, .content_container, .moving_contents {
        flex-basis: 100%;
    }
    .section_four, .moving_slides {
        height: auto;
    }
    .Moving_buttons {
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
        gap: 2rem;
    }
    .Moving_buttons img {
        width: 60px;
        height: 60px;
    }
    .moving_contents p {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {

}
