* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-1: 'Dancing Script', cursive;
    --color-1: #f3ec78;
    --color-2: #af4261;
    --gradient: linear-gradient(45deg, #af4261, #f3ec78)
}
.pragraph {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.btn {
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 1rem 0 1rem 0;
    background-image: var(--gradient);
    color: white;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-image: none;
    color: var(--color-2);
    background-color: var(--color-1);
    border: 2px solid white;
    transition: .3s ease-in-out;
}
section {
    height: 100vh;
}
.section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.hidden {
    display: none;
}
.padding {
    padding: 3rem 5rem;
}
header {
    display: flex;
    gap: 68rem;
    align-items: center;
    height: 90px;
    padding: 4rem 6rem;
    position: absolute;
    top: 10px;
    z-index: 1;
}
header h1 {
    font-family: var(--font-1);
    font-size: 4.5rem;
    font-weight: 700;
    background-color: var(--color-1);
    background-image: linear-gradient(45deg, var(--color-2), var(--color-1));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
header i {
    font-size: 3.5rem;
    cursor: pointer;
    background-color: var(--color-1);
    background-image: linear-gradient(45deg, var(--color-2), var(--color-1));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
header i:hover, header h1:hover{
    transition: .5s;
}
header i:hover, header h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
nav {
    position: absolute;
    top: 70px;
    height: auto;
    width: 20vw;
    right: 140px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 1rem 3rem 1rem 3rem;
    border: 2px solid var(--color-1);
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    display: block;
    font-size: 2.5rem;
    color: var(--color-1); 
    font-family: var(--font-1);
}
nav ul li {
    padding: 1rem;
}
nav ul li:hover, nav ul li.active {
    border-bottom: 2px solid var(--color-1);
    border-left: 2px solid var(--color-1);
    transition: .3s ease-in-out;
    border-bottom-left-radius: 2rem;
}
.container {
    height: 100vh;
    position: relative;
}
.slide_container {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory
}
.slide_container::-webkit-scrollbar {
    display: none;
}
.slide_container .slide {
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}
.header {
    font-size: 8rem;
    font-family: var(--font-1);
    background-color: var(--color-1);
    background-image: linear-gradient(45deg, var(--color-1), var(--color-2));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.one, .two, .three, .four {
    background-repeat: no-repeat;
    background-size: cover;
}
.one {
    background-image: url('../images/aron-van-de-pol-tZDtyUrYrFU-unsplash.jpg');
}
.two {
    background-image: url('../images/ken-cheung-VbLTNceBTFE-unsplash.jpg');
}
.three {
    background-image: url('../images/manuel-cosentino-n--CMLApjfI-unsplash.jpg');
}
.four {
    background-image: url('../images/rachel-davis-tn2rBnvIl9I-unsplash.jpg');
}
.image {
    position: absolute;
    bottom: -3px;
    left: 700px;
}
.image img {
    width: 500px;
}
.footer{
    background-color: #24262b;
    height: auto;
}
.row {
    justify-content: space-between;
    border-bottom: 2px solid var(--color-1);
    padding-bottom: 2rem;
}
.footer-col h4{
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: var(--color-1);
    height: 4px;
    box-sizing: border-box;
    width: 100px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links {
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer-col .social-links a{
    font-size: 1.5rem;
    padding: .6rem 1.2rem;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--color-1);
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: var(--color-1);
}
.down_footer {
    padding-top: 2rem;
    color: #bbbbbb;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
}
/*responsive*/
@media screen  and (max-width: 1280px){
    .padding {
        padding: 3rem;
    }
    header {
        gap: 40rem;
        padding: 4rem 3rem;
    }
    .image {
        left: 300px;
    }
    nav {
        height: auto;
        width: 40vw;
        right: 90px;
    }
    .header {
        padding-top: 6rem;
    }
}
@media screen and (max-width: 1024px) {
    section {
        height: auto;
    }
    .padding {
        padding: 3rem 4rem;
    }
    header {
        gap: 22rem;
        padding: 4rem 3rem;
    }
    .image {
        left: 200px;
    }
    .header {
        padding-top: 4rem;
        font-size: 5rem;
    }
    header h1 {
        font-size: 4rem;
    }
    .pragraph {
        font-size: 1.6rem;
    }
    .image img {
        width: 450px;
    }
}
@media screen and (max-width: 767px){
    section {
        height: auto;
    }
    .padding {
        padding: 3rem 3rem;
    }
    header {
        gap: 12rem;
        padding: 4rem 3rem;
    }
    header h1 {
        font-size: 3rem;
    }
    .image {
        left: 100px;
    }
    .image img {
        width: 400px;
    }
    nav {
        width: 50vw;
    }
    .header {
        padding-top: 4rem;
        font-size: 3rem;
    }
    .pragraph {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 480px){
    .padding {
        padding: 1rem 2rem;
    }
    section {
        height: auto;
    }
    header {
        gap: 8rem;
        padding: 4rem 2rem;
    }
    header h1 {
        font-size: 2rem;
    }
    .image {
        left: 50px;
    }
    .image img {
        width: 300px;
    }
    nav {
        top: 80px;
        right: 60px;
        width: 60vw;
    }
    .header {
        font-size: 3rem;
    }
}
